PROJECT_NAME=mlops-theguardian-sentiment
PROJECT_ROOT=mlops-theguardian-sentiment

# ===========================================
# CREDENTIALS API + HF
# ===========================================
THEGUARDIAN_API_KEY=***************** -> get your own the the guardian website
TOKEN_HF=************************** -> get your own on Hugging Face website

# ===========================================
# DB connnection configuration
# ===========================================
DB_USERNAME=****************** -> get your own on NeonDB
DB_PASSWORD=****************** -> get your own on NeonDB
DB_HOST=****************** -> NeonDB
DB_PORT=5432
DB_NAME=theguardian-sentiment
DB_SCHEMA=theguardian

# ===========================================
# S3 configuration for boto3 and MLFlow
# ===========================================
AWS_S3_BUCKET=****************** -> create your own bucket on AWS
AWS_REGION=******************
AWS_ACCESS_KEY_ID=******************
AWS_SECRET_ACCESS_KEY=******************

# ===========================================
# Configuration of MLFlow
# ===========================================
# Use dedicated schema "mlflow"
ARTIFACT_ROOT=s3://****bucket****/*****sub dir in your bucket - may match $PROJECT_NAME****************/mlflow-artifacts/
BACKEND_STORE_URI=****************** -> get your connection string on NeonDB and adapt it with mlflow schema

MLFLOW_TRACKING_URI=https://f***********your space on Hugging Face Spaces**********.hf.space
EXPERIMENT_NAME=theguardian-sentiment
RUN_NAME=prophet-weekly-sentiment
MODEL_NAME=prophet
MODEL_ALIAS=production

# ===========================================
# Configuration of worker_prophet
# ===========================================
HORIZON_DAYS=30

# ===========================================
# Nginx configuration
# ===========================================
# Listening ports locally
PORT_NGINX_EXTERNAL=9100
PORT_NGINX_EXPOSED=9100

# ===========================================
# Streamlit configuration
# ===========================================
# Listening ports locally
PORT_STREAMLIT_EXTERNAL=9101
PORT_STREAMLIT_EXPOSED=9101


# ===========================================
# Fastapi configuration
# ===========================================
# Listening ports locally
PORT_FASTAPI_EXTERNAL=9102
PORT_FASTAPI_EXPOSED=9102
CACHE_DIR=/tmp/cache
#RELOAD_TOKEN=Allow_reload_model



