# Install torch
#pip install --no-cache-dir torch==2.11.0+cpu --index-url https://download.pytorch.org/whl/cpu

# Dev tools
jupyter
ipykernel
ipywidgets
duckdb
pytest
ruff

# Pipeline lib
-e .   # installe le package local en mode éditable
