# Dev tools
jupyter
ipykernel
ipywidgets
duckdb
pytest
ruff

# Pipeline lib
-e .   # installe le package local en mode éditable


# Inclut les dépendances de prod
-r _server-fastapi/requirements.txt
-r _server-fastapi/requirements-torch.txt
-r _server-streamlit/requirements.txt